:root {
    /* Analogus Colors */

    --color-1: #d95b43;
    --color-2: #0097d9;
    --color-3: #6a1b9a;
    --color-3: #c2185b;

    /* Monochromatic colors */

    --color-4: #ff6666;
    --color-5: #c26200;
    --color-6: #ffff66;
    --color-7: #7fff00;
    --color-8: #66ccff;
    --color-9: #a76fff;
    --color-10: #6a1b9a;
    --color-11: #e63a8a;
    --color-12: #e8e8e8;
    --color-13: #999999;

    --font:'Dancing Script', cursive;
    --font-2: 'Comfortaa', cursive;
    --font-3: 'Rajdhani', sans-seri;
}


/*  ------------------------------ BUILDING TABLES WITH TABLE HTML TAG---------------------- */
.table{
    margin: 0 auto;
    width: 70vw;
}

.table table{
    margin: 10px auto; 
    border-collapse: collapse;
    font-family: var(--font-3);
}

.table-head > *{
    width: 100%;
    text-align: center;
}

tr, td{
    border: 1px solid #000;
}

td{
    padding: 15px;
}

tr:nth-child(even) {
    background-color: var(--color-10);
}

tr:nth-child(odd) {
    background-color: var(--color-12);
}


@keyframes shake {
    0%{
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}

.raise:hover{
  animation: shake .2s linear 2;
  cursor: pointer;
}

@keyframes stretch--1 {
    0%{
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes stretch--2 {
    0%{
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.fill{
    position: relative;
    z-index: 999;
}

.fill::before, 
.fill::after {
    content: '';
    height: 100%;
    width: 10%;

    position: absolute;
    top: 0;
    background-color: #000000a1;

    animation: stretch--1 1.5s ease-out infinite;
}

.fill::before {
    left: 0;
}

.fill::after {
    right: 0;
}



.line--1 {
    position: relative;
}

.line--1::after{
    content: '';
    height: 4px;
    width: 40%;
    background-color: gold;
    border-radius: 4px;

    position: absolute;
    left: 1px;
    bottom: 0;
    transition: all 2s;
}

.line--1::before{
    content: '';
    height: 4px;
    width: 40%;
    background-color: transparent;
    
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 2s .9s;
}

.line:hover .line--1::after{
    transform: translateX(550px);
}

/*  -------------------------------- BUILDING TABLE WITH GRID LAYOUT ------------------------*/
main {
    font-family: var(--font);
    font-weight: 700;
}


.container {
    display: grid;
    grid-template-columns: repeat(5, 15%);
    gap: 4px;
    justify-content: center;
    align-content: center;
    border: 1px solid #000;
    padding: 10px 0;
}

.container span {
    border: 1px solid #000;
    padding: 20px;
}


/* Box colors */
.box-1{
    background-color: var(--color-1);
}

.box-2{
    background-color: var(--color-2);
}

.box-3{
    background-color: var(--color-3);
}

.box-4{
    background-color: var(--color-4);
}

.box-5{
    background-color: var(--color-5);
}

.box-6{
    background-color: var(--color-6);
}

.box-7{
    background-color: var(--color-7);
}

.box-8{
    background-color: var(--color-8);
}

.box-9{
    background-color: var(--color-9);
}

.box-10{
    background-color: var(--color-10);
}

.box-11{
    background-color: var(--color-11);
}

.box-12{
    background-color: var(--color-12);
}

.box-13{
    background-color: var(--color-13);
}

/* To make the oxes with animation more obvious */
.animation-text{
    font-family: var(--font-2);
}


/* Animations */
@keyframes moveLeft {
    0% {
        transform: translateX(150px);
    }

    50% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(150px);
    }
}

/* First Hover */  
.hover-parent {
    position: relative;
    overflow: hidden;
}

.hover-parent:hover .first-hover{
    animation: moveLeft 2s ease-in 4;
}

.first-hover{
    display: inline-block;
    position: absolute;
    top: 0;
    width: 70%;
}


/* Second Hover */
.second-hover{
    transition: filter 1s ease-in-out;
    position: absolute;
    z-index: 999;
    width: 70%;
}

.hidden--1 {
    position: absolute;
    left: 30px;
    display: none;
}

.second-hover:hover {
    filter: blur(30px) invert(90%);
}

.second-hover:hover .hover-parent {
    overflow: visible;
}

.second-hover:hover + .hidden--1{
    display: block;
}

/* First Click Me Btn */

#pop-up {
    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    text-align: center;

    backdrop-filter: blur(10px);
    background-image: linear-gradient(to top right, #6617cd63, #296ef966);

    display: none;
}

/* Open Modal Btn */
.btn-open {
    position: relative;
    z-index: 999;
}

.btn-open:link, .btn-open:visited{
    text-decoration: none;
    color: var(--color-12);
}


#pop-up div {
    background-image: linear-gradient(to top right, #6617cdb3, #296ef9b9);
    border-radius: 10px;

    position: relative;
    top: 300px;
    left: 15%;
    
    width: 70%;
    padding: 4px;
}

#pop-up:target {
    display: block;
}


/* Close Modal */
.btn-close { 
    /* Btn Styling */
    font-size: 50px;
    position: absolute;
    top: -10px;
    right: 5%;
}

.btn-close:link, .btn-close:visited {
    /* Styling for when the btn has been clicked and or used */
    text-decoration: none;
    color: var(--color-10);
}

.btn-close:active ~ #pop-up {
    display: none;
}

/* Third Hover  */
.hide-text {
    position: relative;
}

.hidden-text{
    position: absolute;
    top: -20px;
    left: 0;

    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;

    text-align: center;
    opacity: 0;

    transition: all .2s ease-in;
}

.hidden-text div {
    color: var(--color-13);
    transition: all .2s linear;
}

.hide-text:hover .hidden-text{
    opacity: 1;
}

.hide-text:hover .hidden-text div{
    transform: translateY(40px);
}

/* Forth Hover */

@keyframes move--1 {
    0% {
        left: 0;
        bottom: 100%;
        right: 100%;
        top: 0;
    }

    20% {
        left: 100%;
        top: 0;
        right: 0;
        bottom: 0;
    }
    
    40% {
        right: 0;
        top: 100%;
        left: 100%;
        bottom: 0;
    }

    60% {
        left: 100%;
        right: 0;
        top: 100%;
        bottom: 0;
    }

    80% {
        top: 100%; 
        right: 100%;
        left: 0;
        bottom: 0;
    }

    100% {
        left: 0;
        right: 100%;
        top: 0;
        bottom: 100%;
    }
}

.third-hover{
    transition: all .2s linear;
    position: relative;
}

.third-hover div {
    position: absolute;
    display: block;
    background-image: linear-gradient(240deg, var(--color-12), var(--color-10));

    border-radius: 50%;
    height: 10px;
    width: 10px;

    animation: move--1 2s linear infinite;
}

.third-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #000;
}




/* Media Queries */

@media (max-width:600px) {
    .table{
        width: fit-content;
    }

    .container {
        grid-template-columns: repeat(3, 30%);
    }

}